.btn {
    cursor: pointer;
    width: 35px;
    height: 30px;
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    border: transparent;
}

.fakeFastView,
.fastView {
    color: var(--btn-fast-view);
    margin: 0%;
}

.fakeFastView {
    cursor: default;
}

.fakeFastView::after,
.fastView::after {
    content: "\1F441";
    font-size: 25px;
}

.fastView:hover {
    color: var(--btn-fast-view-hover);
}

.flex {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.flex div {
    border-style: solid;
    border-color: var(--light-grey);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.grid {
    display: grid;
    grid-template-columns: 250px 350px;
}

.grid label {
    margin-top: auto;
    margin-bottom: auto;
}

td div {
    margin: 0px;
}

.window {
    font-size: 20px;
    padding: 20px;
    position: fixed;
    top: 25vh;
    right: 0px;
    bottom: 0px;
    left: 35vw;
    width: 900px;
    height: max-content;
    background-color: var(--form-background);
    padding: 10px;
    border-radius: 20px;
    border-color: var(--modal-window);
    border-style: solid;
    border-radius: 24px;
    border-width: 2px;
}

.list {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.close {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--white);
    background-color: var(--btn-close);
    border-radius: 20px;
}

.close:hover {
    border: 1px solid var(--btn-border);
    background-color: var(--btn-close-hover);
}

.input {
    width: 100px;
    height: 10px;
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    padding: 20px 0px 20px 20px;
    margin: 0%;
    background-color: var(--form-input-border);
    border-radius: 10px;
    border-color: var(--form-input-border);
    border-style: solid;
    box-sizing: border-box;
    cursor: pointer;
}

.img {
    width: 200px;
    height: 270px;
    margin-right: 50px;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}

@media(max-width:1800px) {

    .window {
        top: 20vh;
        left: 5vw;
        width: 700px;
        padding: 0%;
        padding-top: 50px;
        margin: auto;

    }

    .img {
        width: 150px;
        height: 200px;
    }

    .grid {
        grid-template-columns: 250px 200px;
    }

    .close {
        margin: 20px 0px 20px 0px;
    }
}