tr {
    text-align: center;
    border: 0px;
    border-bottom: 1px;
    border-color: aliceblue;
    border-style: solid;
}

tr:last-child {
    border-bottom: 0px;
}

td {
    width: 55px;
    border: 0px;
    border-right: 1px;
    border-style: solid;
    border-color: white;
}

td:last-child {
    border-right: 0px;
}

td {
    height: 38px;
    word-break: break-all;
    padding: 5px;
}

td:first-child {
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width:1800px) {
    td {
        padding-left: 0%;
        padding-right: 0%;
    }
}