:root {
    --white: white;
    --black: black;
    --grey: grey;

    --white-almost: #f5f5f5;
    --light-grey: #c5c5c5;

    --btn-create-text: #eff3f2;
    --btn-create: #6e748d;
    --btn-create-hover: #313854;
    --btn-fast-view: #c3f572b2;
    --btn-fast-view-hover: #c3f572;
    --btn-reset: #08429b45;
    --btn-reset-text: bisque;
    --btn-delete: #eb0c0c9c;
    --btn-delete-hover: #c21616e0;
    --btn-close-hover: #e94e06;
    --btn-change: rgba(122, 179, 206, 0.507);
    --btn-change-hover: rgba(125, 170, 47, 0.945);

    --list-background: #132938dc;
    --search-focus: #82b1d357;

    --tr-delete: #787c77b4;

    --error: rgba(228, 130, 180, 0.74);
    --error-background: rgb(235, 203, 182);

    --form-background: #2f5d77;
    --form-input: rgb(0, 0, 0);
    --form-input-border: #F4F0E9;
    --form-input-hover: #F4F0E9;
    --form-input-focus-border: #A6A6A6;
    --form-btn: #286562;
    --form-btn-hover: rgba(59, 126, 123, 1);

    --description-paragraf: #ecd5d57d;
}