.my-node-enter {
    opacity: 0;
    background-color: yellow;
}

.my-node-enter-active {
    opacity: 1;
    transition: opacity 400ms;
    background-color: var(--transition-enter);
}

.my-node-exit {
    opacity: 1;
    transition: opacity 500ms;
}

.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}