.body {
    position: fixed;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 700px;
    height: 350px;
    background-color: var(--form-background);
    margin: 100px 0px 0px 700px;
    padding: 10px;
    border-radius: 20px;
}

.form {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.distance {
    text-align: left;
    margin: 0%;
    margin-left: 0%;
    padding: 0%;
    margin-left: 10px;
    color: var(--white);
}

.btn {
    cursor: pointer;
    width: 35px;
    height: 30px;
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    border: transparent;
}

.add {
    width: 130px;
    height: 30px;
    cursor: pointer;
    padding: 3px 7px;
    color: var(--btn-create-text);
    background-color: var(--btn-create);
    border: 0px;
    border: 1px solid var(--black);
    border-radius: 10px;
}

.change {
    color: var(--white);
    background-color: var(--btn-change);
    border: 0px;
    border: 1px solid var(--black);
    border-radius: 10px;
}

.change:hover {
    background-color: var(--btn-change-hover);
    border: 1px solid transparent;
}

.btn {
    cursor: pointer;
    width: 35px;
    height: 30px;
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    border: transparent;
}

.close {
    width: 30px;
    height: 30px;
    display: table-cell;
    color: var(--white-almost);
    padding-left: 5px;
}

.close::after {
    content: "\2716";
    font-size: 15px;
}

.close:hover {
    color: var(--btn-close-hover);
}

.move {
    width: 50px;
    margin-left: auto;
}

.add:hover {
    background-color: var(--btn-create-hover);
    color: var(--white);
    border: 1px solid transparent;
}

.btnFooter {
    display: flex;
    margin: auto;
    gap: 70px;
    grid-column: span 2;
}

.btnChange {
    padding-bottom: 0px;
    padding-top: 0px;
    height: 28px;
}

.flex {
    display: grid;
    grid-column: span 2;
    gap: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.addPhoto {
    display: inline-block;
    position: fixed;
    width: 30px;
    height: 30px;
    background-image: url(../../../public/img/camera-computer-icons-photography-clip-art-camera-vector-5ad18a93b30fa5.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    object-fit: cover;
}

.paragraf {
    margin: 0%;
    padding-left: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white);
}

.inputImg {
    height: 30px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.img {
    width: 100px;
    height: 100px;
}

.descriptionParagraf {
    margin: 0%;
    padding: 0%;
    padding-left: 10px;
    font-size: 13px;
    color: var(--description-paragraf);
}