.btn {
    color: var(--btn-create-text);
    background-color: var(--btn-create);
    border: 0px;
    border: 1px solid var(--black);
    margin-top: 25px;
}

.btn:hover {
    background-color: var(--btn-create-hover);
    color: var(--white);
    border: 1px solid var(--white);
}