.fakeEdit,
.edit {
    color: var(--white-almost);
}

.fakeEdit::after,
.edit::after {
    content: "\1F4CB";
    font-size: 25px;
    background-color: transparent;
}

.edit:hover {
    color: var(--btn-close-hover);
}

.fakeEdit {
    cursor: default;
}